.link {
    color: white;
    padding: 40px;
    text-decoration: none;
}

#mainLink {
    text-decoration: none;
    font-size: 40px;
    width: 100%;
    text-align: center;

}

#menuLink {
    width: 100%;
    text-align: left;
}

#loginLink {
    width: 100%;
    text-align: right;
}