.link {
    color: white;
    padding: 40px;
    text-decoration: none;
}

#menuLink {
    text-align: left;
}

#mainLink {
    text-decoration: none;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

#registerLink {
    width: 100%;
    text-align: right;
}
#addLink {
    width: 100%;
    text-align: left;
}

#loginLink {
    text-align: right;
}

.appBar {
    max-height: 120px;
}
