.box {
    background-color: white;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 70%;
    position: absolute;
    border: 5px solid #3f51b5;
    padding-left: 50px;
    padding-top: 40px;
}

button {
    font-size: 20px;
    position:absolute;
    top: 10px;
    right: 10px;
}

button:hover {
    background-color: #3f51b5;
}

.dinnerInfo {
    text-align: left;
    list-style: none;   
}

.dinnerInfo li {
    padding-top: 4px;
}

.dinnerDetails {
    margin-left: 40%;
    bottom: 20%;
    position: absolute;
    display: block;
}

.dinnerDetails li {
    list-style: none;
}

.dinnerDetails ul {
    align-items: left;
}

#navigation {
    font-size: 24px;
    padding-top: 30px;
    text-align: left;
}

.navigationlink {
    display: block;
    padding-right: 10%;
    /* max-width: 160px; */
    width: fit-content;
}

#navigation li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    .box {
      width: 90%;
      height: 90%;
      margin-top: 120px;
      z-index: 1;
    }

    #navigation {
      font-size: 20px;
    }
  }

@media only screen and (max-width: 600px) {

    .box {
        padding-left: 10px;
    }

    .navigationlink {
        padding-top: 10px;
        display: block;
    }
  }